<div class="blog">
	<nav class="nav-responsive">
		<i class="fa fa-bars fa-3x"></i>
		
		<ul>
			<li><a href="#anthony_pilloud-developpeur-web-Franche-comte-besancon-pontarlier-html5-css3-jquery-php" title="A propos d'Anthony Pilloud">A propos</a></li>
			<li><a href="#blog-anthony-pilloud-developpeur-web-Franche-comte-besancon-pontarlier-html5-css3-jquery-php" title="Blog Anthony Pilloud" class="haut">Blog</a></li>
			<li><a href="#anthony-pilloud-developpeur-web-Franche-comte-besancon-pontarlier-competences-html5-css3-jquery-php" title="Compéteneces Anthony Pilloud développeur web HTML5 CSS3 jQuery PHP">Compétences</a></li>
			<li><a href="#portfolio-anthony-pilloud-developpeur-web-Franche-comte-besancon-pontarlier-html5-css3-jquery-php" class="haut">Portfolio</a></li>
			<li><a href="#contact-Anthony-Pilloud-développeur-web-Franche-Comté-Besancon-Pontarlier" title="Contact Anthony Pilloud">Contact</a></li>
		</ul>
	</nav>
	
	<div id="accueil">
		<div class="accueil">
			<nav>
				<div class="gauche">
					<div class="texte">
						<ul>
							<li><a href="#anthony-pilloud-developpeur-web-Franche-comte-besancon-pontarlier-html5-css3-jquery-php" title="A propos d'Anthony Pilloud développeur web en Franche-Comté">A propos</a></li>
							<li><a href="#blog-anthony-pilloud-developpeur-web-Franche-comte-besancon-pontarlier-html5-css3-jquery-php" title="Blog d'Anthony Pilloud développeur web en Franche-Comté" class="haut">Blog</a></li>
							<li><a href="#anthony-pilloud-developpeur-web-Franche-comte-besancon-pontarlier-competences-html5-css3-jquery-php" title="Compétences Anthony Pilloud développeur web en Franche-Comté">Compétences</a></li>
						</ul>
					</div>
				
				</div>
				<div class="droite">
					<div class="texte">
						<ul>
							<li><a href="#portfolio-anthony-pilloud-developpeur-web-Franche-comte-besancon-pontarlier-html5-css3-jquery-php" title="Portfolio Anthony Pilloud développeur web en Franche-Comté">Portfolio</a></li>
							<li><a href="#contact-Anthony-Pilloud-développeur-web-Franche-Comté-Besancon-Pontarlier" title="Contact Anthony Pilloud déevloppeur web en Franche-Comté" class="haut">Contact</a></li>
						</ul>
					</div>
				</div>
			</nav>
			<div class="clear"></div>
			
			<div class="gauche">
				<div class="texte">
					<h1>Anthony</h1>
					<h2>Développeur web</h2>
					<h5>La <span>programmation</span></h5>
				</div>
			</div>
			<div class="droite">
				<div class="texte">
					<h1>Pilloud</h1>
					<h2>Intégrateur web</h2>
					<h5>c'est ma façon de m'<span>évader</span></h5>
				</div>
			</div>
		</div>
		<div class="clear"></div>
		<div class="right"></div>
	</div>
</div>
