@font-face {
  font-family: Raleway;
  src: url("polices/Raleway-Regular.ttf"); }
@font-face {
  font-family: open;
  src: url("polices/OpenSans-Regular.ttf"); }
@font-face {
  font-family: open-extrabold;
  src: url("polices/OpenSans-ExtraBold.ttf"); }
html, body {
  height: 100%; }

body {
  font-family: "Helvetica Neue", verdana;
  color: #c4c4c4; }

header {
  display: none; }

h5 {
  font-family: "Raleway"; }

strong {
  color: #E7E7E7; }

.inner {
  width: 1180px;
  margin: auto; }

.colonne {
  display: table-cell;
  vertical-align: top; }

.clear {
  clear: both; }

a {
  text-decoration: none;
  color: #008CBA; }
  a:hover {
    transition: 0.3s; }

.separation {
  width: 100%;
  height: 20px; }

@keyframes bouton-scroll {
  0% {
    padding-bottom: 0; }

  50% {
    padding-bottom: 10px; }

  100% {
    padding-bottom: 0; } }
.scroll-down {
  position: absolute;
  bottom: 0px;
  left: 50%;
  right: 50%;
  width: 100px;
  height: 100px;
  color: #fff; }
  .scroll-down p {
    margin-bottom: 0;
    margin-left: -1rem;
    -webkit-animation: bouton-scroll 1.5s ease-in-out 1.5s infinite;
    animation: bouton-scroll 1.5s ease-in-out 1.5s infinite;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both; }
  .scroll-down a {
    color: #fff; }

/*------------------------ ACCUEIL -------------------------------*/
#accueil {
  min-height: 100%;
  position: relative;
  /*background-color: $clr-sec;*/
  width: 100%;
  overflow: hidden;
  background: url(../images/bg-accueil1.jpg) 50% 0% no-repeat fixed; }
  #accueil .accueil h1, #accueil .accueil h2, #accueil .accueil h5 {
    font-family: "open-extrabold";
    font-weight: bolder;
    text-align: center;
    color: #e6e6e7; }
  #accueil .accueil h1 {
    margin-top: 30%; }
  #accueil .accueil h5 {
    font-family: "Raleway";
    font-weight: normal; }
  #accueil .accueil span {
    color: #de4344; }

.page-fond {
  min-height: 100%;
  position: relative;
  background-image: url(../images/fond.png);
  background-attachment: fixed;
  background-color: #242425;
  width: 100%;
  overflow: hidden; }
  .page-fond.fond-portfolio {
    padding-bottom: 150px; }

.page-couleur {
  min-height: 100%;
  position: relative;
  background-color: #de4344;
  background-attachment: fixed;
  width: 100%;
  overflow: hidden; }

/*------------------------ GLOBAL -------------------------------*/
.a-propos, .competences, .portfolio, .contact {
  margin-bottom: 100px; }
  .a-propos .titre, .competences .titre, .portfolio .titre, .contact .titre {
    text-align: center; }
    .a-propos .titre h1, .competences .titre h1, .portfolio .titre h1, .contact .titre h1 {
      color: white;
      font-family: "open-extrabold"; }
    .a-propos .titre h5, .competences .titre h5, .portfolio .titre h5, .contact .titre h5 {
      color: #c4c4c4;
      margin-bottom: 1.5rem; }
      .a-propos .titre h5 span, .competences .titre h5 span, .portfolio .titre h5 span, .contact .titre h5 span {
        color: #de4344; }
  .a-propos h3, .competences h3, .portfolio h3, .contact h3 {
    color: #fff; }
  .a-propos h5, .competences h5, .portfolio h5, .contact h5 {
    color: white; }

/*------------------------ A PROPOS -------------------------------*/
@media screen and (max-width: 1025px) {
  .a-propos .iphone {
    display: none; } }
/*------------------------ MES COMPETENCES -------------------------------*/
.competences .titre h5 {
  color: #fff; }
  .competences .titre h5 span {
    color: #242425; }
.competences .bloc {
  color: #ffb1b1;
  border: 2px solid #ffb1b1;
  min-height: 456px;
  text-align: left; }
  .competences .bloc i {
    /*margin-left: 34%;*/
    margin-top: 0.2rem; }
  .competences .bloc:first-child {
    margin-left: 0; }
  .competences .bloc:last-child {
    margin-right: 0; }
  .competences .bloc h5 {
    color: white;
    margin-bottom: 1rem;
    text-align: center; }
@media screen and (min-width: 1025px) {
  .competences .bloc {
    margin: 0 0.5rem;
    width: 32.29%; } }

/*------------------------ PORTFOLIO -------------------------------*/
.portfolio .projets > div {
  padding: 0;
  position: relative; }
  .portfolio .projets > div:hover .masque {
    /*display: block;*/
    opacity: 100;
    transition: 0.3s all ease; }
    .portfolio .projets > div:hover .masque h2 {
      margin-top: 0;
      transition: 0.3s; }
    .portfolio .projets > div:hover .masque h5 {
      margin-left: 0;
      transition: 0.7s; }
    .portfolio .projets > div:hover .masque .first {
      margin-left: 0px;
      transition: 1.1s; }
    .portfolio .projets > div:hover .masque .last {
      margin-left: 0px;
      transition: 1.5s; }
    .portfolio .projets > div:hover .masque .suite {
      top: 0;
      transition: 0.9s; }
  .portfolio .projets > div .masque {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    position: absolute;
    padding: 0.5rem;
    opacity: 0;
    overflow: hidden;
    transition: 0.3s all ease;
    z-index: 20; }
    .portfolio .projets > div .masque h2, .portfolio .projets > div .masque h5 {
      text-align: center; }
    .portfolio .projets > div .masque h2 {
      color: #de4344;
      margin-top: -200px;
      transition: 0.3s; }
    .portfolio .projets > div .masque h5 {
      margin-left: -500px;
      transition: 0.7s; }
    .portfolio .projets > div .masque .first {
      margin-left: 500px;
      width: 458px;
      transition: 1.1s; }
    .portfolio .projets > div .masque .last {
      margin-left: -500px;
      width: 458px;
      transition: 1.5s; }
    .portfolio .projets > div .masque .suite {
      background-color: #de4344;
      color: #fff;
      border: none;
      transition: 0.3s background-color ease;
      font-size: 14px;
      font-family: "Raleway";
      color: #fff;
      text-align: center;
      padding: 10px 20px;
      margin-left: 33%;
      position: relative;
      top: 200px; }
      .portfolio .projets > div .masque .suite:hover {
        background-color: #ff5253;
        transition: 0.3s background-color ease;
        cursor: pointer; }
  .portfolio .projets > div .img-presentation {
    display: none; }

/*------------------------ CONTACT -------------------------------*/
.contact .titre h5 {
  color: #fff; }
  .contact .titre h5 span {
    color: #242425; }
.contact input, .contact textarea {
  border: none;
  padding: 20px;
  margin: 1rem 0; }
.contact input {
  padding: 30px;
  margin: 1.4rem 0; }
.contact textarea {
  margin-top: 1.4rem;
  min-height: 226px;
  resize: vertical; }
.contact .submit {
  background: #242425;
  border: 2px solid #242425;
  color: #fff;
  font-family: "Raleway";
  font-size: 1rem;
  font-weight: bold;
  transition: 0.3s; }
  .contact .submit:hover {
    background: transparent;
    border: 2px solid #ffb1b1;
    cursor: pointer; }

@media screen and (max-width: 1025px) {
  .contact textarea {
    margin-top: inherit;
    margin-top: 0; }
  .contact .submit {
    margin-top: 0.7rem; } }
