<link rel="stylesheet" type="text/css" href="{{ TPLWEBROOT }}css/card.css">
<link rel="stylesheet" type="text/css" href="{{ TPLWEBROOT }}css/pattern.css">
<nav class="nav-responsive">
	<i class="fa fa-bars fa-3x"></i>
	
	<ul>
		<li><a href="#anthony_pilloud-developpeur-web-Franche-comte-besancon-pontarlier-html5-css3-jquery-php" title="A propos d'Anthony Pilloud">A propos</a></li>
		<li><a href="#blog-anthony-pilloud-developpeur-web-Franche-comte-besancon-pontarlier-html5-css3-jquery-php" title="Blog Anthony Pilloud" class="haut">Blog</a></li>
		<li><a href="#anthony-pilloud-developpeur-web-Franche-comte-besancon-pontarlier-competences-html5-css3-jquery-php" title="Compéteneces Anthony Pilloud développeur web HTML5 CSS3 jQuery PHP">Compétences</a></li>
		<li><a href="#portfolio-anthony-pilloud-developpeur-web-Franche-comte-besancon-pontarlier-html5-css3-jquery-php" class="haut">Portfolio</a></li>
		<li><a href="#contact-Anthony-Pilloud-développeur-web-Franche-Comté-Besancon-Pontarlier" title="Contact Anthony Pilloud">Contact</a></li>
	</ul>
</nav>

<div id="accueil">
	<div class="accueil">
		<nav>
			<div class="gauche">
				<div class="texte">
					<ul>
						<li><a href="#anthony-pilloud-developpeur-web-Franche-comte-besancon-pontarlier-html5-css3-jquery-php" title="A propos d'Anthony Pilloud développeur web en Franche-Comté">A propos</a></li>
						<li><a href="#blog-anthony-pilloud-developpeur-web-Franche-comte-besancon-pontarlier-html5-css3-jquery-php" title="Blog d'Anthony Pilloud développeur web en Franche-Comté" class="haut">Blog</a></li>
						<li><a href="#anthony-pilloud-developpeur-web-Franche-comte-besancon-pontarlier-competences-html5-css3-jquery-php" title="Compétences Anthony Pilloud développeur web en Franche-Comté">Compétences</a></li>
					</ul>
				</div>
				
			</div>
			<div class="droite">
				<div class="texte">
					<ul>
						<li><a href="#portfolio-anthony-pilloud-developpeur-web-Franche-comte-besancon-pontarlier-html5-css3-jquery-php" title="Portfolio Anthony Pilloud développeur web en Franche-Comté">Portfolio</a></li>
						<li><a href="#contact-Anthony-Pilloud-développeur-web-Franche-Comté-Besancon-Pontarlier" title="Contact Anthony Pilloud déevloppeur web en Franche-Comté" class="haut">Contact</a></li>
					</ul>
				</div>
			</div>
		</nav>
		<div class="clear"></div>
		
		<div class="gauche">
			<div class="texte">
				<h1>Anthony</h1>
				<h2>Développeur web</h2>
				<h5>La <span>programmation</span></h5>
			</div>
		</div>
		<div class="droite">
			<div class="texte">
				<h1>Pilloud</h1>
				<h2>Intégrateur web</h2>
				<h5>c'est ma façon de m'<span>évader</span></h5>
			</div>
		</div>
	</div>
	<div class="clear"></div>
	<div class="right"></div>
</div>

<div class="page-fond">
	<a name="anthony-pilloud-developpeur-web-Franche-comte-besancon-pontarlier-html5-css3-jquery-php" id="anthony-pilloud-developpeur-web-Franche-comte-besancon-pontarlier-html5-css3-jquery-php"></a>
	<div class="a-propos">
		<div class="row titre">
			<h1>A propos de moi</h1>
			<h5>“ <span>Pour moi</span>, seul un <span>projet abouti</span> est mis <span>en ligne</span> ! “</h5>
		</div>

		<div class="separation"></div>
		
		<div class="row">
			<div class="small-12 medium-6 columns">
				<p>
					<strong>Anthony Pilloud développeur web en Franche-Comté</strong>, mon profil vous intéresse, vous trouverez dans la partie <a href="#portfolio-anthony-pilloud-developpeur-web-Franche-comte-besancon-pontarlier-html5-css3-jquery-php" title="Portfolio Anthony Pilloud développeur en Franche-Comté HTMl5 CSS3 jQuery PHP">Portfolio</a>, différents travaux réalisés au sein du département <a href="http://mmimontbeliard.com/" title="SRC Montbéliard" target="_blank">src[*]média</a> de Montbéliard, mes expériences professionnelles ainsi que mon temps libre. Ces projets ont été élaborés avec l'utilisation des languages <strong>HTML5 / CSS3 / SCSS / jQuery / PHP</strong>.
				</p>
			</div>
			<div class="small-12 medium-6 columns">
				<p>Vous pouvez <strong>télécharger mon CV</strong> pour en
					<strong> apprendre plus sur mes formations et expériences professionnelles.</strong><br>
					<a href="http://anthony-pilloud.fr/cv.pdf" target="_blank" class="lien-cv" title="Téléchager le CV d'Anthony Pilloud développeur web en Franche-Comté">Visionner mon CV</a>
				</p>
			</div>
		</div>
		
		<div class="separation"></div>
		
		<div class="row">
			<div class="small-12 medium-4 columns titre-partie">
				<h2>Mes expériences</h2>
			</div>
		</div>
		
		<div class="row">
			<div class="small-12 medium-6 columns">
				<p>Octobre 2017 à aujourd'hui</p>
				<p>
					Je suis employé en tant que
					<strong>formateur de Zombies voués à devenir des développeurs web</strong> au sein de la société <a href="http://www.onlineformapro.com/" title="Onlineformapro" target="_blank">Onlineformapro</a> pour le projet
					<a href="http://www.accesscodeschool.fr/" title="Access Code School" target="_blank">Access Code School</a>.
					<p>Retrouvez le suivi des <strong>histoires de cette formation dans la partie blog</strong>, ainsi que sur le site de
						l'Access Code School cette fois ci racontées par les apprenants eux-même.
					</p>
				</p>
			</div>
			<div class="small-12 medium-6 columns">
				<p>Avril 2014 à septembre 2016</p>
				<p>
					J'étais employé en tant que
					<strong>Développeur et intégrateur web</strong>, au sein de la société <a href="http://clicand.com" title="Clic & Com" target="_blank">Clic & Com</a>.
				</p>
				<p>
					J'ai <strong>intégré de nombreux sites internet et développé des application</strong> telle qu'une application permettant de gérer le <strong>service dans un restaurant</strong>.
					Tous ces sites et applications sont à retrouver dans la partie <a href="#portfolio-anthony-pilloud-developpeur-web-Franche-comte-besancon-pontarlier-html5-css3-jquery-php" title="Portfolio Anthony Pilloud développeur web Franche-Comté HTMl5 CSS3 jQuery PHP">Portfolio</a>.
				</p>
			</div>
		</div>
		
		<div class="separation"></div>
		
		<a name="blog-anthony-pilloud-developpeur-web-Franche-comte-besancon-pontarlier-html5-css3-jquery-php" id="anthony-pilloud-developpeur-web-Franche-comte-besancon-pontarlier-html5-css3-jquery-php"></a>
		
		<div class="row">
			<div class="small-12 medium-1 columns titre-partie">
				<h2>Blog</h2>
			</div>
		</div>
		
		<div class="row blog">
			{% if blog.articles is iterable %}
				{% for i in blog.articles %}
					<article class="small-12 medium-4 columns">
						<div class="small-12">
							<a href="{{ WEBROOT }}blog/article/{{ i.url }}" title="{{ i.title }}">
								<div class="image">
									<img src="{{ i.image }}" alt="Image article{{ i.title }} ">
								</div>
								
								<h3>{{ i.title }}</h3>
								<h5>Posté par {{ i.pseudo }} | {{ i.publication_date }} </h5>
							</a>
							
							<p>{{ i.article|raw }}</p>
						</div>
	
						{% for x in i.categories %}
							<div class="categories"><a href="{{ WEBROOT }}blog/category/{{ x.url_category }}">{{ x.category }}</a></div>
						{% endfor %}
					</article>
				{% endfor %}
			{% else %}
				<div class="small-12 columns">
					<p class="small-12">Il n'y a encore pas d'article de blog pour le moment, ils vont arriver sous peu.</p>
				</div>
			{% endif %}
		</div>
	</div>
</div>

<div class="page-couleur">
	<a name="anthony-pilloud-developpeur-web-Franche-comte-besancon-pontarlier-competences-html5-css3-jquery-php" id="anthony-pilloud-developpeur-web-Franche-comte-besancon-pontarlier-competences-html5-css3-jquery-php"></a>
	<div class="row competences">
		<div class="row titre">
			<h1>Mes compétences</h1>
			<h5>“ Ici le <span>possible</span> est déjà fait, l'<span>impossible</span> est en cours et pour le <span>miracle</span> il me faut un délai de 48h ! “</h5>
		</div>
		
		<div class="row">
			<div class="small-12 medium-3 columns">
				<img src="{{ TPLWEBROOT }}images/php7.png" alt="Logo PHP7">
				<p class="text-center">PHP7 est le langage que j’utilise côté serveur afin de rendre les sites dynamiques.</p>
			</div>
			<div class="small-12 medium-3 columns">
				<img src="{{ TPLWEBROOT }}images/mysql.png" alt="Logo MySQL">
				<p class="text-center">MySQL est le moteur de base de données dont je me sers pour administrer les données des sites</p>
			</div>
			<div class="small-12 medium-3 columns">
				<img src="{{ TPLWEBROOT }}images/wordpress.png" alt="Logo Wordpress">
				<p class="text-center">Wordpress est le CMS que je mets en place lors d’un besoin simple d’administration de site ou blog</p>
			</div>
			<div class="small-12 medium-3 columns">
				<img src="{{ TPLWEBROOT }}images/ribs.png" alt="Logo Ribs">
				<p class="text-center">Ribs est un framework que j’ai développé et que j’utilise lors de création d’applications web</p>
			</div>
		</div>
		
		<div class="row">
			<div class="small-12 medium-3 columns">
				<img src="{{ TPLWEBROOT }}images/html5.png" alt="Logo HTML5">
				<p class="text-center">HTML5 est le langage de balises qui me permet de mettre en place la structure et prévoir le SEO</p>
			</div>
			<div class="small-12 medium-3 columns">
				<img src="{{ TPLWEBROOT }}images/css3.png" alt="Logo CSS3">
				<p class="text-center">CSS3 est un langage en cascade qui me permet d’intégrer le design de sites et aplications web</p>
			</div>
			<div class="small-12 medium-3 columns">
				<img src="{{ TPLWEBROOT }}images/sass.png" alt="Logo Sass">
				<p class="text-center">SASS est un préprocesseur qui me permet de rendre le CSS plus maintenable et plus organisé</p>
			</div>
			<div class="small-12 medium-3 columns">
				<img src="{{ TPLWEBROOT }}images/javascript.png" alt="Logo Javascript">
				<p class="text-center">JS et Jquery sont des langages que j’utilise pour mettre en place diverses animations.</p>
			</div>
		</div>
		
		<div class="row">
			<div class="small-12 medium-3 columns">
				<img src="{{ TPLWEBROOT }}images/bootstrap.png" alt="Logo Bootstrap">
				<p class="text-center">Bootstrap est un framework qui permet de réaliser des mises en page adaptées sur mobile</p>
			</div>
			<div class="small-12 medium-3 columns">
				<img src="{{ TPLWEBROOT }}images/foundation.png" alt="Logo Foundation">
				<p class="text-center">Foundation est comme bootstrap, je l’utilise pour Ribs et pour des applications</p>
			</div>
			<div class="small-12 medium-3 columns end">
				<img src="{{ TPLWEBROOT }}images/twig.png" alt="Logo Twig">
				<p class="text-center">Twig est un moteur de template qui me permet d’injecter des variable dans du code HTML</p>
			</div>
			<div class="small-12 medium-3 columns end">
				<img src="{{ TPLWEBROOT }}images/twig.png" alt="Logo Twig">
				<p class="text-center">Grunt est un outils qui me permet d'automatiser la compilation des fichier sass en css et l'envoi en FTP sur
					les serveurs.
				</p>
			</div>
		</div>
	</div>
</div>

<div class="page-fond fond-portfolio">
	<div class="pattern pattern--hidden"></div>
	<div class="portfolio ">
		<a name="portfolio-anthony-pilloud-developpeur-web-Franche-comte-besancon-pontarlier-html5-css3-jquery-php" id="portfolio-anthony-pilloud-developpeur-web-Franche-comte-besancon-pontarlier-html5-css3-jquery-php"></a>
		<div class="row">
			<div class="row titre">
				<h1>Portfolio</h1>
				<h5>“ Un <span>projet</span> n’est pas ce que <span>vous en dîtes</span>, mais ce que <span>Google en dit</span> ! “</h5>
			</div>
		</div>
		
		<div class="projets row expanded collapse">
			<div class="small-12 medium-12 large-6 columns">
				<div class="small-12 medium-6 large-6 columns">
					{% for i in portfolio.colonne1 %}
						<div class="un-projet {% for x in i.categories %}category-{{ x.id_category }} {% endfor %}">
							<img src="{{ MODULEWEBROOT }}portfolio/images/{{ i.image }}.jpg" alt="projet {{ i.titre }} développeur web franche-comté">
							
							<article>
								<h2>{{ i.titre }}</h2>
								<h6>
									{% for x in i.categories %}
									<span>{{ x.category }}</span>
									{% endfor %}
								</h6>
								
								<p class="first">
									{{ i.extrait.p1|raw }}
								</p>
								
								<p class="last">
									{{ i.extrait.p2|raw }}
								</p>
								
								<a class="suite" title="lire la suite du projet {{ i.titre }}">Lire la suite</a>
								<div class="clear"></div>
							</article>
							
							<div class="card">
								<div class="card__container card__container--closed">
									<svg class="card__image" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 1920 500" preserveAspectRatio="xMidYMid slice">
										<defs>
											<clipPath id="clipPath{{ i.id_portfolio }}">
												<circle class="clip" cx="960" cy="250" r="992"></circle>
											</clipPath>
										</defs>
										<image class="img-presentation" clip-path="url(#clipPath{{ i.id_portfolio }})" width="1920" height="500" xlink:href="{{ MODULEWEBROOT }}portfolio/images/grande/{{ i.image }}.jpg"></image>
									</svg>
									
									<div class="card__content">
										<i class="card__btn-close fa fa-times"></i>
										<div class="card__caption">
										</div>
										<div class="card__copy">
											<div class="meta">
												<span class="meta__author">{{ i.titre }}</span>
												<span class="meta__date">{% for x in i.categories %}{{ x.category }} {% endfor %}</span>
												{% if i.url != "" %}
													<span class="meta__date"><a href="{{ i.url }}" title="Lien de démo vers {{ i.titre }}" target="_blank">Lien de démo vers {{ i.titre }}</a></span>
												{% endif %}
											</div>
											
											{{ i.description|raw }}
										</div>
									</div>
								</div>
							</div>
						</div>
					{% endfor %}
				</div>
				
				
				
				<div class="small-12 medium-6 large-6 columns">
					{% for i in portfolio.colonne2 %}
						<div class="un-projet  {% for x in i.categories %}category-{{ x.id_category }} {% endfor %}">
							<img src="{{ MODULEWEBROOT }}portfolio/images/{{ i.image }}.jpg" alt="projet {{ i.titre }} développeur web franche-comté">
							
							<article>
								<h2>{{ i.titre }}</h2>
								<h6>
									{% for x in i.categories %}
										<span>{{ x.category }}</span>
									{% endfor %}
								</h6>
								
								<p class="first">
									{{ i.extrait.p1|raw }}
								</p>
								
								<p class="last">
									{{ i.extrait.p2|raw }}
								</p>
								
								<a class="suite" title="lire la suite du projet {{ i.titre }}">Lire la suite</a>
								<div class="clear"></div>
							</article>
							
							<div class="card">
								<div class="card__container card__container--closed">
									<svg class="card__image" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 1920 500" preserveAspectRatio="xMidYMid slice">
										<defs>
											<clipPath id="clipPath{{ i.id_portfolio }}">
												<circle class="clip" cx="960" cy="250" r="992"></circle>
											</clipPath>
										</defs>
										<image class="img-presentation" clip-path="url(#clipPath{{ i.id_portfolio }})" width="1920" height="500" xlink:href="{{ MODULEWEBROOT }}portfolio/images/grande/{{ i.image }}.jpg"></image>
									</svg>
									
									<div class="card__content">
										<i class="card__btn-close fa fa-times"></i>
										<div class="card__caption">
										</div>
										<div class="card__copy">
											<div class="meta">
												<span class="meta__author">{{ i.titre }}</span>
												<span class="meta__date">{% for x in i.categories %}{{ x.category }} {% endfor %}</span>
												{% if i.url != "" %}
													<span class="meta__date"><a href="{{ i.url }}" title="Lien de démo vers {{ i.titre }}" target="_blank">Lien de démo vers {{ i.titre }}</a></span>
												{% endif %}
											</div>
											
											{{ i.description|raw }}
										</div>
									</div>
								</div>
							</div>
						</div>
					{% endfor %}
				</div>
			</div>
			<div class="small-12 medium-12 large-6 columns">
				<div class="small-12 medium-6 large-6 columns">
					{% for i in portfolio.colonne3 %}
						<div class="un-projet  {% for x in i.categories %}category-{{ x.id_category }} {% endfor %}">
							<img src="{{ MODULEWEBROOT }}portfolio/images/{{ i.image }}.jpg" alt="projet {{ i.titre }} développeur web franche-comté">
							
							<article>
								<h2>{{ i.titre }}</h2>
								<h6>
									{% for x in i.categories %}
										<span>{{ x.category }}</span>
									{% endfor %}
								</h6>
								
								<p class="first">
									{{ i.extrait.p1|raw }}
								</p>
								
								<p class="last">
									{{ i.extrait.p2|raw }}
								</p>
								
								<a class="suite" title="lire la suite du projet {{ i.titre }}">Lire la suite</a>
								<div class="clear"></div>
							</article>
							
							<div class="card">
								<div class="card__container card__container--closed">
									<svg class="card__image" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 1920 500" preserveAspectRatio="xMidYMid slice">
										<defs>
											<clipPath id="clipPath{{ i.id_portfolio }}">
												<circle class="clip" cx="960" cy="250" r="992"></circle>
											</clipPath>
										</defs>
										<image class="img-presentation" clip-path="url(#clipPath{{ i.id_portfolio }})" width="1920" height="500" xlink:href="{{ MODULEWEBROOT }}portfolio/images/grande/{{ i.image }}.jpg"></image>
									</svg>
									
									<div class="card__content">
										<i class="card__btn-close fa fa-times"></i>
										<div class="card__caption">
										</div>
										<div class="card__copy">
											<div class="meta">
												<span class="meta__author">{{ i.titre }}</span>
												<span class="meta__date">{% for x in i.categories %}{{ x.category }} {% endfor %}</span>
												{% if i.url != "" %}
													<span class="meta__date"><a href="{{ i.url }}" title="Lien de démo vers {{ i.titre }}" target="_blank">Lien de démo vers {{ i.titre }}</a></span>
												{% endif %}
											</div>
											
											{{ i.description|raw }}
										</div>
									</div>
								</div>
							</div>
						</div>
					{% endfor %}
				</div>
				
				
				
				<div class="small-12 medium-6 large-6 columns">
					{% for i in portfolio.colonne4 %}
						<div class="un-projet  {% for x in i.categories %}category-{{ x.id_category }} {% endfor %}">
							<img src="{{ MODULEWEBROOT }}portfolio/images/{{ i.image }}.jpg" alt="projet {{ i.titre }} développeur web franche-comté">
							
							<article>
								<h2>{{ i.titre }}</h2>
								<h6>
									{% for x in i.categories %}
										<span>{{ x.category }}</span>
									{% endfor %}
								</h6>
								
								<p class="first">
									{{ i.extrait.p1|raw }}
								</p>
								
								<p class="last">
									{{ i.extrait.p2|raw }}
								</p>
								
								<a class="suite" title="lire la suite du projet {{ i.titre }}">Lire la suite</a>
								<div class="clear"></div>
							</article>
							
							<div class="card">
								<div class="card__container card__container--closed">
									<svg class="card__image" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 1920 500" preserveAspectRatio="xMidYMid slice">
										<defs>
											<clipPath id="clipPath{{ i.id_portfolio }}">
												<circle class="clip" cx="960" cy="250" r="992"></circle>
											</clipPath>
										</defs>
										<image class="img-presentation" clip-path="url(#clipPath{{ i.id_portfolio }})" width="1920" height="500" xlink:href="{{ MODULEWEBROOT }}portfolio/images/grande/{{ i.image }}.jpg"></image>
									</svg>
									
									<div class="card__content">
										<i class="card__btn-close fa fa-times"></i>
										<div class="card__caption">
										</div>
										<div class="card__copy">
											<div class="meta">
												<span class="meta__author">{{ i.titre }}</span>
												<span class="meta__date">{% for x in i.categories %}{{ x.category }} {% endfor %}</span>
												{% if i.url != "" %}
													<span class="meta__date"><a href="{{ i.url }}" title="Lien de démo vers {{ i.titre }}" target="_blank">Lien de démo vers {{ i.titre }}</a></span>
												{% endif %}
											</div>
											
											{{ i.description|raw }}
										</div>
									</div>
								</div>
							</div>
						</div>
					{% endfor %}
				</div>
			</div>
		</div>
	</div>
</div>

<div class="page-couleur">
	<a name="contact-Anthony-Pilloud-développeur-web-Franche-Comté-Besancon-Pontarlier" id="contact-Anthony-Pilloud-développeur-web-Franche-Comté-Besancon-Pontarlier"></a>

	<div class="row contact">
		<div class="row">
			<div class="row titre">
				<h1>Contactez moi</h1>
				<h5>“ <span>Envie</span> de prendre <span>un café</span> n’hésitez pas à <span>me contacter</span> ! “</h5>
			</div>
		</div>

		<div class="row">
			<form action="{{ WEBROOT }}controller/envoyer_message" method="POST">
				<div class="small-12 large-5 columns">
					<input type="text" class="small-12" name="prenom" placeholder="Votre Nom et Prénom" required>
					<input type="email" class="small-12" name="mail" placeholder="Votre adresse E-mail" required>
					<input type="number" class="small-12" name="tel" placeholder="Votre numéro de téléphone">
				</div>
				<div class="small-12 large-7 columns">
					<textarea class="small-12" name="message" cols="40" placeholder="Votre message..." required></textarea>
				</div>

				<div class="small-12 large-12 columns">
					<input type="submit" class="small-12 submit" value="Envoyer">
				</div>
			</form>
		</div>
	</div>
</div>

<script src="{{ TPLWEBROOT }}js/portfolio/vendors/trianglify.min.js"></script>
<script src="{{ TPLWEBROOT }}js/portfolio/vendors/TweenMax.min.js"></script>
<script src="{{ TPLWEBROOT }}js/portfolio/vendors/ScrollToPlugin.min.js"></script>
<script src="{{ TPLWEBROOT }}js/portfolio/vendors/cash.min.js"></script>
<script src="{{ TPLWEBROOT }}js/portfolio/Card-circle.js"></script>
<script src="{{ TPLWEBROOT }}js/portfolio/demo.js"></script>
<script src="{{ TPLWEBROOT }}js/portfolio/stop_lien.js"></script>

<script type="text/javascript" src="{{ TPLWEBROOT }}js/scroller.v2.src.js"></script>

<script type="text/javascript">
	var autoScroll = false;
	scroller.auto({
		onStart:function () { autoScroll = true; },
		onFinish:function () { autoScroll = false; }      });
</script>