@import "variables.scss";
@font-face {
	font-family: Raleway;
	src: url('polices/Raleway-Regular.ttf');
}

@font-face {
	font-family: open;
	src: url('polices/OpenSans-Regular.ttf');
}

@font-face {
	font-family: open-extrabold;
	src: url('polices/OpenSans-ExtraBold.ttf');
}



html, body {
	height: 100%;
}

body {
	font-family: "Helvetica Neue", verdana;
	color: $clr-txt;
}

header {
	display: none;
}

h5 {
	font-family: $police-princ;
}

strong {
	color: #E7E7E7;
}

.inner {
	width: 1180px;
	margin: auto;
}

.colonne {
	display: table-cell;
	vertical-align: top;
}

.clear {
	clear: both;
}

a {
	text-decoration: none;
	color: #008CBA;

	&:hover {
		transition: 0.3s;
	}
}

.separation {
	width: 100%;
	height: 20px;
}



/*------------------------ ACCUEIL -------------------------------*/
#accueil {
	min-height: 100%;
	position: relative;
	width:100%;
	overflow: hidden;
	background: url(../images/bg-accueil1.jpg) 50% 0% no-repeat fixed;
	
	@media screen and (max-width: 1200px) {
		min-height: 90%;
	}
	
	@media screen and (max-width: 850px) {
		min-height: 75%;
	}
	
	.accueil {
		margin-top: 10%;
		position: relative;
		z-index: 30;
		
		nav {
			padding-bottom: 10%;
			
			a {
				color: #fff;
				display: block;
				height: 100%;
				padding: 20px;
				margin-right: -6px;
				transition: all 0.3s ease;
			}
			
			ul {
				padding-right: 6px;
				
				li {
					display: inline-block;
					list-style: none;
				}
			}
			
			.gauche {
				ul {
					background-color: $clr-princ;
				}
				
				a {
					background: linear-gradient($clr-sec, $clr-sec) no-repeat left bottom;
					background-size: 100% 0%;
					
					&.haut {
						background: linear-gradient($clr-sec, $clr-sec) no-repeat left top;
						background-size: 100% 0%;
					}
				}
				
				a:hover {
					background-size: 100% 100%;
				}
				
				.texte {
					margin: 0;
					padding: 0;
				}
			}
			
			.droite {
				ul {
					background-color: $clr-sec;
					margin-left: 0;
					display: inline-block;
				}
				
				a {
					background: linear-gradient($clr-princ, $clr-princ) no-repeat left bottom;
					background-size: 100% 0%;
					
					&.haut {
						background: linear-gradient($clr-princ, $clr-princ) no-repeat left top;
						background-size: 100% 0%;
					}
				}
				
				a:hover {
					background-size: 100% 100%;
				}
				
				.texte {
					margin: 0;
					padding: 0;
				}
			}
		}
		
		h1, h2, h5 {
			font-family: $police-ters;
			font-weight: bolder;
			color: $clr-txt-accueil;
		}
		
		h1 {
			font-size: 4.5rem;
		}
		
		h2 {
			font-size: 3.375rem;
		}
		
		h5 {
			font-family: $police-princ;
			font-weight: normal;
			font-size: 2.25rem;
		}
		
		@media screen and (max-width: 1200px) {
			h1 {
				font-size: 3.5rem;
			}
			
			h2 {
				font-size: 2.375rem;
			}
			
			h5 {
				font-size: 1.25rem;
			}
		}
		
		@media screen and (max-width: 850px) {
			h1 {
				font-size: 2.5rem;
			}
			
			h2 {
				font-size: 1.5rem;
			}
			
			h5 {
				font-size: 1rem;
			}
		}
		
		@media screen and (max-width: 850px) {
			h1 {
				font-size: 2.5rem;
			}
			
			h2 {
				font-size: 1.5rem;
			}
			
			h5 {
				font-size: 1rem;
			}
		}
		
		@media screen and (max-width: 470px) {
			h1 {
				font-size: 2rem;
			}
			
			h2 {
				font-size: 1.2rem;
			}
			
			h5 {
				font-size: 1rem;
			}
		}
		
		@media screen and (max-width: 385px) {
			h1 {
				font-size: 1.8rem;
			}
			
			h2 {
				font-size: 1rem;
			}
			
			h5 {
				font-size: 0.8rem;
			}
		}
		
		.gauche {
			width: 60%;
			float: left;
			
			.texte {
				float: right;
				padding-right: 10px;
				
				h1 {
					text-align: right;
					color: $clr-princ;
				}
				
				h5 {
					float: right;
				}
				
				span {
					color: $clr-princ;
				}
			}
		}
		
		.droite {
			width: 40%;
			float: left;
			
			.texte {
				padding-left: 10px;
				
				h1 {
					color: $clr-sec;
				}
				
				span {
					color: $clr-sec;
				}
				
				h5 {
					margin-top: 11.5px;
				}
			}
		}
		
		@media screen and (max-width: 560px) {
			.gauche {
				width: 50%;
			}
			
			.droite {
				width: 50%;
			}
		}
	}
	
	.right {
		width: 40%;
		height: 100%;
		background-color: $clr-princ;
		opacity: 0.8;
		left: 60%;
		top: 0;
		position: absolute;
	}
	
	@media screen and (max-width: 560px) {
		.right {
			width: 50%;
			left: 50%;
		}
	}
}

.page-fond {
	position: relative;
	background-image: url(../images/fond.png);
	background-attachment: fixed;
	background-color: $clr-sec;
	width:100%;

	&.fond-portfolio {
		padding-bottom: 150px;
		overflow: hidden;
	}
}

.page-couleur {
	position: relative;
	background-color: $clr-princ;
	background-attachment: fixed;
	width:100%;
}


/*------------------------ GLOBAL -------------------------------*/
.a-propos, .competences, .portfolio, .contact {
	padding-bottom: 100px;

	.titre {
		text-align: center;

		h1 {
			color: $clr-titre;
			font-family: $police-ters;
		}
		h5 {
			color: $clr-txt;
			margin-bottom: 1.5rem;

			span {
				color: $clr-princ;
			}
		}
	}

	h3 {
		color: #fff;
	}

	h5 {
		color: $clr-titre;
	}
}

/*------------------------ A PROPOS -------------------------------*/
.a-propos {
	padding-bottom: 150px;
	
	&:before {
		background: url(../images/accueil-bas.png) center top no-repeat;
		position: absolute;
		height: 150px;
		width: 100%;
		top: -120px;
		content: " ";
	}
	
	.lien-cv {
		display: inline-block;
		padding: 1rem;
		border: 3px solid $clr-princ;
		margin-top: 1rem;
		color: #FFFFFF;
		background: linear-gradient($clr-princ, $clr-princ) no-repeat left bottom;
		background-size: 100% 0%;
		transition: background 0.3s ease;
		
		&:hover {
			background-size: 100% 100%;
		}
	}
	
	h2 {
		background: linear-gradient($clr-princ, $clr-princ) no-repeat left bottom;
		background-size: 50% 3px;
		margin-bottom: 1.5rem;
	}
	
	.blog {
		h3 {
			font-family: $police-ters;
			font-size: 1.5rem;
			margin-bottom: 0;
		}
		
		h5 {
			font-family: $police-princ;
			font-size: 1rem;
			margin-top: 0;
		}
		
		p {
			margin-bottom: 1rem;
		}
		
		.categories {
			float: left;
			background-color: $clr-princ;
			margin: 0.3rem 0.3rem 0.3rem 0;
			padding: 0.3rem;
		}
		
		.image {
			overflow: hidden;
		}
		
		img {
			transition: all 0.3s ease;
			filter: grayscale(1);
		}
		
		a:hover {
			img {
				transform: scale(1.2);
				filter: grayscale(0);
			}
		}
	}
}



/*------------------------ MES COMPETENCES -------------------------------*/
.competences {
	&:before {
		background: url(../images/competences.png) center top no-repeat;
		position: absolute;
		height: 115px;
		width: 100%;
		top: -100px;
		content: " ";
		left: 0;
	}
	
	&:after {
		background: url(../images/haut-portfolio.png) center top no-repeat;
		position: absolute;
		height: 150px;
		width: 100%;
		bottom: 0;
		content: " ";
		left: 0;
	}
	
	.titre {
		h5 {
			color: #fff;

			span {
				color: $clr-sec;
			}
		}
	}
	
	img {
		margin: 0 auto;
		display: block;
		margin-bottom: 0.5rem;
	}
}



/*------------------------ PORTFOLIO -------------------------------*/
.portfolio {
	.projets {
		>div {
			padding: 0;
			position: relative;

			&:hover {
				.masque {
					opacity: 100;
					transition: 0.3s all ease;
					cursor: pointer;

					h2 {
						margin-top: 0;
						transition: 0.3s;
					}

					h5 {
						margin-left: 0;
						transition: 0.7s;
					}

					.first {
						margin-left: 0px;
						transition: 1.1s;
					}

					.last {
						margin-left: 0px;
						transition: 1.5s;
					}

					.suite {
						top: 0;
						transition: 0.9s;
					}
				}
			}

			.masque {
				width: 100%;
				height: 100%;
				background-color: rgba(0, 0, 0, 0.8);
				position: absolute;
				padding: 0.5rem;
				opacity: 0;
				overflow: hidden;
				transition: 0.3s all ease;
				z-index: 20;

				h2,h5 {
					text-align: center;
				}

				h2 {
					color: $clr-princ;
					margin-top: -200px;
					transition: 0.3s;
				}

				h5 {
					margin-left: -500px;
					transition: 0.7s;
				}

				.first {
					margin-left: 500px;
					width: 100%;
					transition: 1.1s;
				}

				.last {
					margin-left: -500px;
					width: 100%;
					transition: 1.5s;
				}
				
				@media screen and (max-width: 1600px) {
					h2 {
						font-size: 1.3rem;
					}
					
					h5 {
						font-size: 0.9rem;
					}
					
					p {
						font-size: 0.8rem;
					}
				}

				.suite {
					background-color: $clr-princ;
					color: #fff;
					border: none;
					transition: 0.3s background-color ease;
					font-size: 14px;
					font-family: $police-princ;
					color: #fff;
					text-align: center;
					padding: 10px 20px;
					margin-left: 33%;
					position: relative;
					top: 200px;

					&:hover {
						background-color: $clr-background-lien-hover;
						transition: 0.3s background-color ease;
						cursor: pointer;
					}
				}
			}

			.img-presentation {
				display: none;
			}
		}
	}
}



/*------------------------ CONTACT -------------------------------*/
.contact {
	&:before {
		background: url(../images/contact.png) center top no-repeat;
		position: absolute;
		height: 115px;
		width: 100%;
		top: -110px;
		content: " ";
		left: 0;
	}
	
	.titre {
		h5 {
			color: #fff;

			span {
				color: $clr-sec;
			}
		}
	}

	input, textarea {
		border: none;
		padding: 20px;
		margin: 1rem 0;
	}

	input {
		padding: 30px;
		margin: 1.4rem 0;
	}

	textarea {
		margin-top: 1.4rem;
		min-height: 226px;
		resize: vertical;
	}

	.submit {
		border: 2px solid $clr-sec;
		color: #fff;
		font-family: $police-princ;
		font-size: 1rem;
		font-weight: bold;
		transition: 0.3s;
		background: linear-gradient($clr-sec, $clr-sec) no-repeat left bottom,
					linear-gradient($clr-sec, $clr-sec) no-repeat right top;
		background-size: 50% 0%, 50% 0%;
		
		&:hover {
			background-size: 50% 100%, 50% 100%;
			cursor: pointer;
		}
	}
}

@media screen and (max-width: 1025px) {
	.contact {
		textarea {
			margin-top: inherit;
			margin-top: 0;
		}

		.submit {
			margin-top: 0.7rem;
		}
	}
}

















