/*In this file add all your varaibles for scss app file*/
@font-face {
  font-family: Raleway;
  src: url("polices/Raleway-Regular.ttf"); }
@font-face {
  font-family: open;
  src: url("polices/OpenSans-Regular.ttf"); }
@font-face {
  font-family: open-extrabold;
  src: url("polices/OpenSans-ExtraBold.ttf"); }
html, body {
  height: 100%; }

body {
  font-family: "Helvetica Neue", verdana;
  color: #c4c4c4; }

header {
  display: none; }

h5 {
  font-family: "Raleway"; }

strong {
  color: #E7E7E7; }

.inner {
  width: 1180px;
  margin: auto; }

.colonne {
  display: table-cell;
  vertical-align: top; }

.clear {
  clear: both; }

a {
  text-decoration: none;
  color: #008CBA; }
  a:hover {
    transition: 0.3s; }

.separation {
  width: 100%;
  height: 20px; }

/*------------------------ ACCUEIL -------------------------------*/
#accueil {
  min-height: 100%;
  position: relative;
  width: 100%;
  overflow: hidden;
  background: url(../images/bg-accueil1.jpg) 50% 0% no-repeat fixed; }
  #accueil .accueil {
    margin-top: 20%;
    position: relative;
    z-index: 30; }
    #accueil .accueil h1, #accueil .accueil h2, #accueil .accueil h5 {
      font-family: "open-extrabold";
      font-weight: bolder;
      color: #E6E6E7; }
    #accueil .accueil h1 {
      font-size: 4.5rem; }
    #accueil .accueil h2 {
      font-size: 3.375rem; }
    #accueil .accueil h5 {
      font-family: "Raleway";
      font-weight: normal;
      font-size: 2.25rem; }
    @media screen and (max-width: 1200px) {
      #accueil .accueil h1 {
        font-size: 3.5rem; }
      #accueil .accueil h2 {
        font-size: 2.375rem; }
      #accueil .accueil h5 {
        font-size: 1.25rem; } }
    @media screen and (max-width: 850px) {
      #accueil .accueil h1 {
        font-size: 2.5rem; }
      #accueil .accueil h2 {
        font-size: 1.5rem; }
      #accueil .accueil h5 {
        font-size: 1rem; } }
    @media screen and (max-width: 850px) {
      #accueil .accueil h1 {
        font-size: 2.5rem; }
      #accueil .accueil h2 {
        font-size: 1.5rem; }
      #accueil .accueil h5 {
        font-size: 1rem; } }
    @media screen and (max-width: 470px) {
      #accueil .accueil h1 {
        font-size: 2rem; }
      #accueil .accueil h2 {
        font-size: 1.2rem; }
      #accueil .accueil h5 {
        font-size: 1rem; } }
    @media screen and (max-width: 385px) {
      #accueil .accueil h1 {
        font-size: 1.8rem; }
      #accueil .accueil h2 {
        font-size: 1rem; }
      #accueil .accueil h5 {
        font-size: 0.8rem; } }
    #accueil .accueil .gauche {
      width: 60%;
      float: left; }
      #accueil .accueil .gauche .texte {
        float: right;
        padding-right: 10px; }
        #accueil .accueil .gauche .texte h1 {
          text-align: right;
          color: #DE4344; }
        #accueil .accueil .gauche .texte h5 {
          float: right; }
        #accueil .accueil .gauche .texte span {
          color: #DE4344; }
    #accueil .accueil .droite {
      width: 40%;
      float: left; }
      #accueil .accueil .droite .texte {
        padding-left: 10px; }
        #accueil .accueil .droite .texte h1 {
          color: #242425; }
        #accueil .accueil .droite .texte span {
          color: #242425; }
        #accueil .accueil .droite .texte h5 {
          margin-top: 11.5px; }
    @media screen and (max-width: 560px) {
      #accueil .accueil .gauche {
        width: 50%; }
      #accueil .accueil .droite {
        width: 50%; } }
  #accueil .right {
    width: 40%;
    height: 100%;
    background-color: #DE4344;
    opacity: 0.8;
    left: 60%;
    top: 0;
    position: absolute; }
  @media screen and (max-width: 560px) {
    #accueil .right {
      width: 50%;
      left: 50%; } }

.page-fond {
  min-height: 100%;
  position: relative;
  background-image: url(../images/fond.png);
  background-attachment: fixed;
  background-color: #242425;
  width: 100%; }
  .page-fond.fond-portfolio {
    padding-bottom: 150px;
    overflow: hidden; }

.page-couleur {
  min-height: 100%;
  position: relative;
  background-color: #DE4344;
  background-attachment: fixed;
  width: 100%;
  /*overflow: hidden;*/ }

/*------------------------ GLOBAL -------------------------------*/
.a-propos, .competences, .portfolio, .contact {
  padding-bottom: 100px; }
  .a-propos .titre, .competences .titre, .portfolio .titre, .contact .titre {
    text-align: center; }
    .a-propos .titre h1, .competences .titre h1, .portfolio .titre h1, .contact .titre h1 {
      color: #FFFFFF;
      font-family: "open-extrabold"; }
    .a-propos .titre h5, .competences .titre h5, .portfolio .titre h5, .contact .titre h5 {
      color: #c4c4c4;
      margin-bottom: 1.5rem; }
      .a-propos .titre h5 span, .competences .titre h5 span, .portfolio .titre h5 span, .contact .titre h5 span {
        color: #DE4344; }
  .a-propos h3, .competences h3, .portfolio h3, .contact h3 {
    color: #fff; }
  .a-propos h5, .competences h5, .portfolio h5, .contact h5 {
    color: #FFFFFF; }

/*------------------------ A PROPOS -------------------------------*/
.a-propos {
  padding-bottom: 150px; }
  .a-propos:before {
    background: url(../images/accueil-bas.png) center top no-repeat;
    position: absolute;
    height: 150px;
    width: 100%;
    top: -120px;
    content: " "; }
  .a-propos .lien-cv {
    display: inline-block;
    padding: 1rem;
    border: 3px solid #DE4344;
    margin-top: 1rem;
    color: #FFFFFF;
    background: linear-gradient(#DE4344, #DE4344) no-repeat left bottom;
    background-size: 100% 0%;
    transition: background 0.3s ease; }
    .a-propos .lien-cv:hover {
      background-size: 100% 100%; }
  .a-propos h2 {
    background: linear-gradient(#DE4344, #DE4344) no-repeat left bottom;
    background-size: 50% 3px;
    margin-bottom: 1.5rem; }
  .a-propos .blog h3 {
    font-family: "open-extrabold";
    font-size: 1.5rem;
    margin-bottom: 0; }
  .a-propos .blog h5 {
    font-family: "Raleway";
    font-size: 1rem;
    margin-top: 0; }
  .a-propos .blog p {
    margin-bottom: 1rem; }
  .a-propos .blog .categories {
    float: left;
    background-color: #DE4344;
    margin: 0.3rem 0.3rem 0.3rem 0;
    padding: 0.3rem; }
  .a-propos .blog .image {
    overflow: hidden; }
  .a-propos .blog img {
    transition: all 0.3s ease;
    filter: grayscale(1); }
  .a-propos .blog a:hover img {
    transform: scale(1.2);
    filter: grayscale(0); }

/*------------------------ MES COMPETENCES -------------------------------*/
.competences:before {
  background: url(../images/competences.png) center top no-repeat;
  position: absolute;
  height: 115px;
  width: 100%;
  top: -100px;
  content: " ";
  left: 0; }
.competences:after {
  background: url(../images/haut-portfolio.png) center top no-repeat;
  position: absolute;
  height: 150px;
  width: 100%;
  bottom: 0;
  content: " ";
  left: 0; }
.competences .titre h5 {
  color: #fff; }
  .competences .titre h5 span {
    color: #242425; }
.competences img {
  margin: 0 auto;
  display: block;
  margin-bottom: 0.5rem; }

/*------------------------ PORTFOLIO -------------------------------*/
.portfolio .projets > div {
  padding: 0;
  position: relative; }
  .portfolio .projets > div:hover .masque {
    /*display: block;*/
    opacity: 100;
    transition: 0.3s all ease; }
    .portfolio .projets > div:hover .masque h2 {
      margin-top: 0;
      transition: 0.3s; }
    .portfolio .projets > div:hover .masque h5 {
      margin-left: 0;
      transition: 0.7s; }
    .portfolio .projets > div:hover .masque .first {
      margin-left: 0px;
      transition: 1.1s; }
    .portfolio .projets > div:hover .masque .last {
      margin-left: 0px;
      transition: 1.5s; }
    .portfolio .projets > div:hover .masque .suite {
      top: 0;
      transition: 0.9s; }
  .portfolio .projets > div .masque {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    position: absolute;
    padding: 0.5rem;
    opacity: 0;
    overflow: hidden;
    transition: 0.3s all ease;
    z-index: 20; }
    .portfolio .projets > div .masque h2, .portfolio .projets > div .masque h5 {
      text-align: center; }
    .portfolio .projets > div .masque h2 {
      color: #DE4344;
      margin-top: -200px;
      transition: 0.3s; }
    .portfolio .projets > div .masque h5 {
      margin-left: -500px;
      transition: 0.7s; }
    .portfolio .projets > div .masque .first {
      margin-left: 500px;
      width: 100%;
      transition: 1.1s; }
    .portfolio .projets > div .masque .last {
      margin-left: -500px;
      width: 100%;
      transition: 1.5s; }
    @media screen and (max-width: 1600px) {
      .portfolio .projets > div .masque h2 {
        font-size: 1.3rem; }
      .portfolio .projets > div .masque h5 {
        font-size: 0.9rem; }
      .portfolio .projets > div .masque p {
        font-size: 0.8rem; } }
    .portfolio .projets > div .masque .suite {
      background-color: #DE4344;
      color: #fff;
      border: none;
      transition: 0.3s background-color ease;
      font-size: 14px;
      font-family: "Raleway";
      color: #fff;
      text-align: center;
      padding: 10px 20px;
      margin-left: 33%;
      position: relative;
      top: 200px; }
      .portfolio .projets > div .masque .suite:hover {
        background-color: #FF5253;
        transition: 0.3s background-color ease;
        cursor: pointer; }
  .portfolio .projets > div .img-presentation {
    display: none; }

/*------------------------ CONTACT -------------------------------*/
.contact:before {
  background: url(../images/contact.png) center top no-repeat;
  position: absolute;
  height: 115px;
  width: 100%;
  top: -110px;
  content: " ";
  left: 0; }
.contact .titre h5 {
  color: #fff; }
  .contact .titre h5 span {
    color: #242425; }
.contact input, .contact textarea {
  border: none;
  padding: 20px;
  margin: 1rem 0; }
.contact input {
  padding: 30px;
  margin: 1.4rem 0; }
.contact textarea {
  margin-top: 1.4rem;
  min-height: 226px;
  resize: vertical; }
.contact .submit {
  border: 2px solid #242425;
  color: #fff;
  font-family: "Raleway";
  font-size: 1rem;
  font-weight: bold;
  transition: 0.3s;
  background: linear-gradient(#242425, #242425) no-repeat left bottom, linear-gradient(#242425, #242425) no-repeat right top;
  background-size: 50% 0%, 50% 0%; }
  .contact .submit:hover {
    background-size: 50% 100%, 50% 100%;
    cursor: pointer; }

@media screen and (max-width: 1025px) {
  .contact textarea {
    margin-top: inherit;
    margin-top: 0; }
  .contact .submit {
    margin-top: 0.7rem; } }

/*# sourceMappingURL=style.css.map */
