@font-face {
	font-family: Raleway;
	src: url('polices/Raleway-Regular.ttf');
}

@font-face {
	font-family: open;
	src: url('polices/OpenSans-Regular.ttf');
}

@font-face {
	font-family: open-extrabold;
	src: url('polices/OpenSans-ExtraBold.ttf');
}

$clr-princ: #DE4344;
$clr-sec: #242425;
$clr-background-lien-hover: #FF5253;
$clr-titre: #FFFFFF;
$clr-txt-accueil: #E6E6E7;

$clr-txt: #c4c4c4;
$clr-txt-bold: #5D5D5D;
$clr-fond-clr: #ffb1b1;

$police-princ: 'Raleway';
$police-secc: 'open';
$police-ters: 'open-extrabold';
$police-accueil: Arial;

html, body {
	height: 100%;
}

body {
	font-family: "Helvetica Neue", verdana;
	color: $clr-txt;
}

header {
	display: none;
}

h5 {
	font-family: $police-princ;
}

strong {
	color: #E7E7E7;
}

.inner {
	width: 1180px;
	margin: auto;
}

.colonne {
	display: table-cell;
	vertical-align: top;
}

.clear {
	clear: both;
}

a {
	text-decoration: none;
	color: #008CBA;

	&:hover {
		transition: 0.3s;
	}
}

.separation {
	width: 100%;
	height: 20px;
}

@keyframes bouton-scroll {
	0% {
		padding-bottom: 0;
	}

	50% {
		padding-bottom: 10px;
	}

	100% {
		padding-bottom: 0;
	}
}

.scroll-down {
	position: absolute;
	bottom: 0px;
	left: 50%;
	right: 50%;
	width: 100px;
	height: 100px;
	color: #fff;

	p {
		margin-bottom: 0;
		margin-left: -1rem;

		-webkit-animation: bouton-scroll 1.5s ease-in-out 1.5s infinite;
		animation: bouton-scroll 1.5s ease-in-out 1.5s infinite;
		-webkit-animation-fill-mode: both;
		animation-fill-mode: both;
	}

	a {
		color: #fff;
	}
}



/*------------------------ ACCUEIL -------------------------------*/
#accueil {
	min-height: 100%;
	position: relative;
	/*background-color: $clr-sec;*/
	width:100%;
	overflow: hidden;
	background: url(../images/bg-accueil1.jpg) 50% 0% no-repeat fixed;

	.accueil {
		h1, h2, h5 {
			font-family: $police-ters;
			font-weight: bolder;
			text-align: center;
			color: $clr-txt-accueil;
		}

		h1 {
			margin-top: 30%;
		}

		h5 {
			font-family: $police-princ;
			font-weight: normal;
		}

		span {
			color: $clr-princ;
		}
	}
}

.page-fond {
	min-height: 100%;
	position: relative;
	background-image: url(../images/fond.png);
	background-attachment: fixed;
	background-color: $clr-sec;
	width:100%;
	overflow: hidden;

	&.fond-portfolio {
		padding-bottom: 150px;
	}
}

.page-couleur {
	min-height: 100%;
	position: relative;
	background-color: $clr-princ;
	background-attachment: fixed;
	width:100%;
	overflow: hidden;
}


/*------------------------ GLOBAL -------------------------------*/
.a-propos, .competences, .portfolio, .contact {
	margin-bottom: 100px;

	.titre {
		text-align: center;

		h1 {
			color: $clr-titre;
			font-family: $police-ters;
		}
		h5 {
			color: $clr-txt;
			margin-bottom: 1.5rem;

			span {
				color: $clr-princ;
			}
		}
	}

	h3 {
		color: #fff;
	}

	h5 {
		color: $clr-titre;
	}
}

/*------------------------ A PROPOS -------------------------------*/
@media screen and (max-width: 1025px) {
	.a-propos {
		.iphone {
			display: none;
		}
	}
}


/*------------------------ MES COMPETENCES -------------------------------*/
.competences {
	.titre {
		h5 {
			color: #fff;

			span {
				color: $clr-sec;
			}
		}
	}

	.bloc {
		color: $clr-fond-clr;
		border: 2px solid $clr-fond-clr;
		min-height: 456px;
		text-align: left;

		i {
			/*margin-left: 34%;*/
			margin-top: 0.2rem;
		}

		&:first-child {
			margin-left: 0;
		}

		&:last-child {
			margin-right: 0;
		}

		h5 {
			color: $clr-titre;
			margin-bottom: 1rem;
			text-align: center;
		}
	}

	@media screen and (min-width: 1025px) {
		.bloc {
			margin: 0 0.5rem;
			width: 32.29%;
		}
	}
}



/*------------------------ PORTFOLIO -------------------------------*/
.portfolio {
	.projets {
		>div {
			padding: 0;
			position: relative;

			&:hover {
				.masque {
					/*display: block;*/
					opacity: 100;
					transition: 0.3s all ease;

					h2 {
						margin-top: 0;
						transition: 0.3s;
					}

					h5 {
						margin-left: 0;
						transition: 0.7s;
					}

					.first {
						margin-left: 0px;
						transition: 1.1s;
					}

					.last {
						margin-left: 0px;
						transition: 1.5s;
					}

					.suite {
						top: 0;
						transition: 0.9s;
					}
				}
			}

			.masque {
				width: 100%;
				height: 100%;
				background-color: rgba(0, 0, 0, 0.8);
				position: absolute;
				padding: 0.5rem;
				opacity: 0;
				overflow: hidden;
				transition: 0.3s all ease;
				z-index: 20;

				h2,h5 {
					text-align: center;
				}

				h2 {
					color: $clr-princ;
					margin-top: -200px;
					transition: 0.3s;
				}

				h5 {
					margin-left: -500px;
					transition: 0.7s;
				}

				.first {
					margin-left: 500px;
					width: 100%;
					transition: 1.1s;
				}

				.last {
					margin-left: -500px;
					width: 100%;
					transition: 1.5s;
				}
				
				@media screen and (max-width: 1600px) {
					h2 {
						font-size: 1.3rem;
					}
					
					h5 {
						font-size: 0.9rem;
					}
					
					p {
						font-size: 0.8rem;
					}
				}

				.suite {
					background-color: $clr-princ;
					color: #fff;
					border: none;
					transition: 0.3s background-color ease;
					font-size: 14px;
					font-family: $police-princ;
					color: #fff;
					text-align: center;
					padding: 10px 20px;
					margin-left: 33%;
					position: relative;
					top: 200px;

					&:hover {
						background-color: $clr-background-lien-hover;
						transition: 0.3s background-color ease;
						cursor: pointer;
					}
				}
			}

			.img-presentation {
				display: none;
			}
		}
	}
}



/*------------------------ CONTACT -------------------------------*/
.contact {
	.titre {
		h5 {
			color: #fff;

			span {
				color: $clr-sec;
			}
		}
	}

	input, textarea {
		border: none;
		padding: 20px;
		margin: 1rem 0;
	}

	input {
		padding: 30px;
		margin: 1.4rem 0;
	}

	textarea {
		margin-top: 1.4rem;
		min-height: 226px;
		resize: vertical;
	}

	.submit {
		background: $clr-sec;
		border: 2px solid $clr-sec;
		color: #fff;
		font-family: $police-princ;
		font-size: 1rem;
		font-weight: bold;
		transition: 0.3s;

		&:hover {
			background: transparent;
			border: 2px solid $clr-fond-clr;
			cursor: pointer;
		}
	}
}

@media screen and (max-width: 1025px) {
	.contact {
		textarea {
			margin-top: inherit;
			margin-top: 0;
		}

		.submit {
			margin-top: 0.7rem;
		}
	}
}

















