/*In this file add all your varaibles for scss app file*/
$clr-princ: #DE4344;
$clr-sec: #242425;
$clr-background-lien-hover: #FF5253;
$clr-titre: #FFFFFF;
$clr-txt-accueil: #E6E6E7;

$clr-txt: #c4c4c4;
$clr-txt-bold: #5D5D5D;
$clr-fond-clr: #ffb1b1;

$police-princ: 'Raleway';
$police-secc: 'open';
$police-ters: 'open-extrabold';
$police-accueil: Arial;