{% include("header.html") %}

<div class="inner">
	<div class="added-module">
		{% for i in portfolio.projets %}
			<div class="bloc">
				<div class="image">
					<img src="{{ MODULEWEBROOT }}portfolio/images/{{ i.image }}.png" alt="">
				</div>
				<div class="categorie">
					<ul>
						{% for x in i.categories %}
							<li>{{ x.category }}</li>
						{% endfor %}
					</ul>
				</div>
				
				<h2>{{ i.titre }}</h2>
				
				<a class="modifier" href="{{ ADMWEBROOT }}modules/portfolio/edit-article?id_projet={{ i.id_portfolio }}">Modifier l'article</a>
				<a class="supprimer open-popup" popup="popup-delete-article" href="{{ ADMWEBROOT }}controller/modules/portfolio/projet/delete.php?id_projet={{ i.id_portfolio }}&titre={{ i.titre }}">Supprimer l'article</a>
			</div>
		{% endfor %}
	</div>
</div>